.wrapper {
    display: grid;
    gap: 10px;
    grid-template-rows: auto 60vh auto;
    grid-template-columns: 39% 39% 20%;
    justify-items: center;
    grid-template-areas:
      "profile-card profile-card profile-card"
      "Crypto-distrib NFT-distrib user-warns"
      "posts posts posts";
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .profile-card{
    text-align: center;
    grid-area: profile-card;
    margin: 1rem 1rem;
    width: 100%;
  }
  .profile-pic{
    grid-area: profile-pic;
    display: inline-block;
    height: 100%;
  }
  .profile-pic img{
    height: 15vh;
    border-radius: 30px;
  }
  .user-name{
    grid-area: user-name;
    display: inline;
    margin: 1rem;
  }
  .Crypto-distrib{
    grid-area: Crypto-distrib;
    width: 100%;
  }
  .Crypto-distrib canvas{
    height: 60vh !important;
    margin-left: auto;
    margin-right: auto;
  }
  .NFT-distrib{
    grid-area: NFT-distrib;
    width: 100%;
    text-align: right;
  }
  .NFT-distrib canvas{
    height: 60vh !important;
    margin-left: auto;
    margin-right: auto;
  }
  .posts{
    grid-area: posts;

  }
  .user-warns{
    grid-area: user-warns;
    color: red;
  }