.nfts {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: white solid;
}
.nfts tr{
    text-align: center;
    margin-top: 1rem;
}
.nfts th{
    border: white solid;
}
.nfts td{
    border: white solid;
}